

/*generic stylerules*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    position: relative;
    /*This color gradient is responsive on all devices-sizes since it is applied to the body*/
    background: rgb(228, 206, 169);
    background: linear-gradient(0deg, rgba(228, 206, 169, 1) 0%, rgba(209, 198, 204, 1) 24%, rgba(122, 129, 157, 1) 100%);
}

/*MAIN*/
main {
    height: 100vh;
    width: 100%;
}

/*section holding the logo*/
#logo-section {
    text-align: center;
    padding-top: 50px;
}

/*the logo with the harry potter text*/
#logo {
    width: 60%;
    
}



/*FOOTER*/

/*styling of the social icons*/
#social {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 200%;
    transition: transform 0.6s;
}

#social a {
    color: #7A819DFF;
}

#social i:hover {
    color: #ffffff;
    transition: color 0.4s;
    transform: scale(1.2);
}