@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Single+Day&display=swap');

/*generic stylerules*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Single Day', Passero One, sans-serif;
}

/*generic colors to be used in the correct and wrong answers*/
:root {
    --color-wrong: #ff6e6e;
    --color-correct: #7dfa85;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    position: relative;
    /*This color gradient is responsive on all devices-sizes since it is applied to the body*/
    background: rgb(228, 206, 169);
    background: linear-gradient(0deg, rgba(228, 206, 169, 1) 0%, rgba(209, 198, 204, 1) 24%, rgba(122, 129, 157, 1) 100%);
}

/*MAIN*/
main {
    height: 100%;
    width: 100%;
}

/*section holding the logo*/
#logo-section {
    text-align: center;
    margin-top: 50px;
}

/*the logo with the harry potter text*/
#logo {
    width: 75%;
}

/*The container that containes the class container*/
#container-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 100px;

}

/*The container for all the quiz items - buttons, answers and questions together*/
.container {
    text-align: center;
    border: 3px solid rgba(122, 129, 157, 1);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.812);
    box-shadow: 0 0 10px 2px;
    padding: 15px;
}

#question {
    font-size: 140%;
}

/*Styling of the grid for the buttons - not styling of the buttons themselfs*/
.button-grid {
    display: grid;
    /*makes 2 columns and auto is so that it fills/covers itself all the way horisontally*/
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 0;
}

/*Styling of the buttons themselfs*/
.button {
    padding: 17px 5px;
    font-size: 140%;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

/*these 2 codes underneath will change the colors on the buttons when an answer is right or wrong*/
button.correct {
    background-color: var(--color-correct);
}

button.wrong {
    background-color: var(--color-wrong);
}


/*Styling for hover on the buttons*/
button:hover {
    transition: background-color 0.2s;
    border-color: white;
}

.hide {
    display: none;
}


/*FOOTER*/

#footer {
    height: 60px;
    width: 100%;
    align-self: flex-end;
}

/*styling of the social icons*/
#social {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 200%;
    transition: transform 0.6s;
}

/*Color of the social icons*/
#social i {
    color: #7A819DFF;
}

/*Styling for hover on the icons*/
#social i:hover {
    color: #ffffff;
    transition: color 0.4s;
    transform: scale(1.2);
}

/*responsive design and media queries*/

/*tablets*/
@media screen and (min-width: 768px) {
    .container {
        width: 600px;
        height: 600px;
    }

   /*the logo with the harry potter text*/
   #logo {
       width: 90%;
   }

    .button {
        /*makes the space bigger between the buttons*/
        margin-top: 35px;
        font-size: 30px;
    }

    #question {
        margin-top: 40px;
        font-size: 34px;
    }

}